<div>
<h1 style="padding-top:2rem;">{{ 'welcome.title' | translate }}</h1>
<div class="description-container">

  <div class="description">
    <p>{{ 'welcome.description.p.1' | translate}}</p>
    <p>{{ 'welcome.description.p.2' | translate}}</p>
  </div>
  
  <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/instructions']" >{{ 'welcome.button.1' | translate}}</button>
 <br/><br/>
</div>
</div>
