<div class="main-div">
  <nav class="navbar navbar-expand-md px-0">
    <div class="order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-item" href="javascript:void(0)" (click)="goBack()">{{ 'back' | translate}}</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0 w-100">

    </div>
    <div class="order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-item" href="javascript:void(0)" (click)="router.navigate(['/welcome'])">{{ 'close' | translate}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="mt-3" *ngFor="let obj of viewObj?.form.sections">
      <i *ngIf="level == 'emergency_phase'" class="alert-icon fa fa-warning" style="color:red;"></i>
      <span class="display-4" style="padding-right:10px;">{{obj?.localizedLabel}}</span> <br/><br/>
      <p class="lead" [innerHTML]="obj?.detailedLocalizedLabel"></p>
      <ul *ngIf="level == 'emergency_phase'">
        <li>{{'start.l1' | translate}} </li>
        <li>{{'start.l2' | translate}}</li>
        <li>{{'start.l3' | translate}}</li>
        <li>{{'start.l4' | translate}} </li>
        <li>{{'start.l5' | translate}} </li>
      </ul>
      <div class="container-fluid w-75">
        <div class="row">
          <button type="button" id="btn-1" class="col-12 mb-3 btn btn-outline-primary p-3 nofucus "
            [ngClass]="{'setfocus': isSelected(item.value) }" *ngFor="let item of obj?.answer.choices"
            (click)="setValue(item.value, obj?.answer.choices.length)"> <span class="pull-right text-right ">{{item.localizedLabel}}</span> <i *ngIf="isSelected(item.value)"  class="fa fa-check-circle pull-left i-font"></i><i *ngIf="!isSelected(item.value)" class="fa fa-circle pull-left i-font"></i> </button><br>

        </div>

      </div>
      <div class="container-fluid w-75">
        <div class="row text-center">
          <button [disabled]="this.selectedArray.length == 0" type="button" id="btn-1" class="col-12 mb-3 btn btn-primary-nav p-3 text-center"
            (click)="next(obj)">{{ 'next' | translate}}</button><br>

        </div>

      </div>
    </div>

  </div>
</div>
