@import '../../../app.component.scss';

.alert-icon {
  font-size: 64px;
}

.nofucus.btn:focus {
  outline: none;
}
.setfocus{
  box-shadow: 0 0 0 2px #0C9B9B !important;
}

.i-font{
  font-size: 20px;
}

