<div class="container main-div"><br/>
    <div class="jumbotron">
      <nav class="navbar navbar-expand-md ">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
          </ul>
        </div>
        <div class="mx-auto order-0">
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-item" href="javascript:void(0)" (click)="router.navigate(['/welcome'])">{{ 'close' | translate}}</a>
            </li>
          </ul>
        </div>
      </nav>
      <p class="display-4">{{'report' | translate}}</p>
      <hr class="my-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="container" *ngIf="response?.care?.summary" >
              <h4>{{response?.care?.summary?.title}}</h4>
              <p [innerHTML]="response?.care?.summary?.detail"></p>
            </div>
            <ul *ngIf="response?.care?.needs">
              <li *ngFor="let item of response?.care?.needs">
                 <h6 style="color:#8B0000;"><strong>{{ item.title }}</strong></h6>
                 <p>{{ item.detail}}</p>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-6">
            <ul *ngIf="response?.care?.needs">
              <li *ngFor="let item of response?.care?.nonNeeds">
                 <h6 style="color:#8B0000;"><strong>{{ item.title }}</strong></h6>
                 <p>{{ item.detail}}</p>
              </li>
            </ul>

          </div>

        </div>
      </div>

    </div>
</div>
