<div class="main-div pt-1">
  <div class="nav justify-content-end my-1">
    <a class="nav-item" href="javascript:void(0)" (click)="location.back()">{{ 'close' | translate}}</a>
  </div>
    <div class="">
      <p class="display-4"><b> {{'instruction.head' | translate}}</b></p>
      <hr class="my-4">
      <div class="container w-100 text-center">
          <p>{{'instruction.p.1' | translate}}</p>
          <p>{{'instruction.p.2' | translate}}</p>
          <p>{{'instruction.p.3' | translate}}</p>
      </div>
      <div class="container w-75">
        <div class="row text-center">
          <button type="button" id="btn-1" class="col-12 mb-3 text-center btn btn-outline-primary p-3" *ngFor="let item of choices" (click)="startForm(item.value)"  >{{item.localizedLabel}}</button><br>

        </div>

      </div>
    </div>
</div>
