<div class="container main-div">
    <div class = "nav justify-content-end">
        <a class="nav-item" href="javascript:void(0)" (click)="location.back()">{{ 'back' | translate}}</a>
    </div>
    <div class= "container-fluid" >
        <div class="jumbotron">
            <i class="alert-icon fa fa-warning" style="color:red;"></i>
            <p class ="display-4">{{viewObj?.title}}</p>
            <p class="lead" [innerHTML]="viewObj?.detail" style="padding-bottom:1rem;"></p>            
        </div>
  
    </div>
  </div>
  