/*------------------------------------
- COLOR primary
------------------------------------*/

$primary_t1: #0C9B9B;
$primary_t2: #086b6b;
$primary_t3: #53f1f1;
$primary_t4: #6bf3f3;
$primary_t5: #032929;
$primary_t6: #075d5d;
$primary_t7: #097979;
$primary_t8: #000000;
$primary_t9: #7df5f5;
$primary_shadow: rgba(12, 155, 155, 0.5);
$primary_text_color_dark_bright: #fff;
.bg-dark {
    background-color: $primary_t1 !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: $primary_text_color_dark_bright !important;
    background-color: $primary_t1 !important;
    border-color: $primary_t1 !important;
}

.alert-primary {
    color: $primary_t5;
    background-color: $primary_t9;
    border-color: $primary_t4;
}


.alert-primary hr {
    border-top-color: $primary_t3;
}

.alert-primary .alert-link {
    color: $primary_t8;
}

.badge-primary {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t1;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t2;
}

.bg-primary {
    background-color: $primary_t1 !important;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: $primary_t2 !important;
}

.border-primary {
    border-color: $primary_t1 !important;
}

.btn-primary {
    color: $primary_text_color_dark_bright !important;
    background-color: $primary_t1 !important;
    border-color: $primary_t1 !important;
}

.btn-primary-nav {
  color: $primary_text_color_dark_bright !important;
  background-color: $primary_t8 !important;
  border-color: $primary_t8 !important;
}
.btn-primary:hover {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t7;
    border-color: $primary_t2;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t1;
    border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t2;
    border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
    color: $primary_t1;
    background-color: transparent;
    border-color: $primary_t1;
}

.btn-outline-primary:hover {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t1;
    border-color: $primary_t1;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: $primary_t1;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t1;
    border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
    color: $primary_t5;
    background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
    color: $primary_t5;
    background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
    color: $primary_text_color_dark_bright;
    background-color: $primary_t5;
    border-color: $primary_t5;
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: $primary_t4;
}

.table-hover .table-primary:hover {
    background-color: $primary_t3;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: $primary_t3;
}

.text-primary {
    color: $primary_t1 !important;
}

a {
    color: $primary_t2 !important;
    text-decoration: none;
    background-color: transparent;
}

a.text-primary:hover,
a.text-primary:focus {
    color: $primary_t2 !important;
}

.display-4 {
    font-size: 1.8rem;
    font-weight: 600;
}

.jumbotron {
  padding: 0rem 1rem;}

  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}