<div class="container main-div">
  <div class="jumbotron">
    <div>
      <h1>{{ 'enter_your_email' | translate }}</h1>
      <div class="description-container">
        <div class="input-group">
          <input type="email" class="form-control" [(ngModel)]="email">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="download()">{{ 'download' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
