/* You can add global styles to this file, and also import other style files */

.ar, .ar *{
  direction: rtl;
  text-align: right;
}

.en, .en *{
  direction: ltr;
}

*{
  font-family: 'Tajawal', sans-serif;
}
